# Sees HTML as PHP
RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html
# Error Pages
ErrorDocument 400 /errors/400.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html
