html, body {margin: 0; padding: 0;}

body {font-size: small; font-family: "Segoe UI", sans-serif; font-size: 10pt; color: #ffffff;}
a {color: #efefef; text-decoration: none; outline: 0;}
a:hover {color: #ffffff; text-decoration: none; outline: 0;}
td {text-align:center; 
    vertical-align:middle;};

body {
    background-color: #353535;
    background-image: url("/images/background/newtab.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 2em 5em;
    padding: 1em;
}

html {
    background: url("/images/background/newtab.jpg");
}


ul {
    font-family: trebuchet, arial, sans-sherif;
}

table {
    border-collapse: collapse;
}

th {
    color: #AEA79F;
    font-family: trebuchet, arial, sans-sherif;
    font-weight: bold;
    font-size: 20px;
}

td {
    font-family: trebuchet, arial, sans-sherif;
}

.search {
    padding: 1.3em 0.8em 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: 300px;
    height: 30px;
