{% comment %}
  Placeholder to allow defining custom head. In principle, you can add
  anything here, e.g. favicons.

  If you have a website that you anticipate people using as a webapp on
  iOS, Android, or Windows 8 or Windows 10 then it would be worth head
  over to https://realfavicongenerator.net/ to add your own favicons and
  insetting the code snippets they give into _includes/custom-head.html
  in your source directory.

  The favicons Wren provides are the absolute minimum to cover modern
  browsers. See here for more info: https://link.medium.com/oDf4MMhiqjb
{% endcomment %}
