<p class="post-meta">
  <!-- Ensures will work with posts and pages -->
  {%- if page.date -%}
    {%- assign p = page -%}
  {%- else -%}
    {%- assign p = post -%}
  {% endif %}
  <!-- Date the post was originally published (latest modification date in title text ) -->
  {%- assign original_date = p.date | date: site.date_format -%}
  {%- if p.modified_date -%}
    {%- assign modified_date = p.modified_date | date: site.date_format | prepend: 'Updated on ' -%}
    {%- assign original_date = original_date | append: '*' -%}
  {%- endif -%}
  <time title="{{ modified_date }}" class="dt-published" datetime="{{ p.date | date_to_xmlschema }}" itemprop="datePublished">
    {{ original_date }}
  </time>
  <!-- After cdot, include time it takes to read post content -->
  • {%- include reading-time.html text=p.content -%}
  <!-- If author(s) specified, after cdot include them at the end -->
  {%- if p.author -%}
    •
    {% for author in p.author %}
      <!-- TODO work out what this junk is for -->
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ author }}</span>
      </span>
      <!-- Separate multiple authors by commas -->
      {%- if forloop.last == false %}, {% endif -%}
    {% endfor %}
  {%- endif -%}   
</p>