{%comment%} ensures this file works with posts and pages {%endcomment%}
{%- if page.date -%}
  {%- assign p = page -%}
  {%- assign align = 'center' -%}
{%- else -%}
  {%- assign p = post -%}
  {%- assign align = 'left' -%}
{% endif %}

{%comment%} Sets the default date format as ISO 8601 {%endcomment%}
{% assign date_format = site.wren.date_format | default: "%Y-%m-%d" %}

<p class="post-meta" {{ align | prepend: 'style= "text-align: ' | append: ';"'}}>
  {%comment%} assign variables prevents overflow between entries {%endcomment%}
  {%- assign original_date = p.date | date: date_format -%}
  {%- assign modified_date = p.modified_date -%}
  {%comment%} if post was modified, add * and add that date as hover text {%endcomment%}
  {%- if modified_date -%}
    {%- assign modified_date = modified_date | date: date_format | prepend: 'Updated on ' -%}
    {%- assign original_date = original_date | append: '*' -%}
  {%- endif -%}
  <time title="{{ modified_date }}" class="dt-published" datetime="{{ original_date | date_to_xmlschema }}" itemprop="datePublished">
    {{ original_date }}
  </time>
  {%comment%} passing content to be analysed by reading-time explicitly {%endcomment%}
  • {%- include reading-time.html text=p.content -%}
  {%comment%} if tag given, give as comma-separated list with links to tag page {%endcomment%}
  {%- if p.tags -%}
    {%- for tag in p.tags -%}
      {%- if forloop.first == true %}• {% endif %}
      <a href={{ 'blog/tags#' | append: tag | relative_url }}>{{ tag }}</a>
      {%- if forloop.last == false %}, {% endif %}
    {%- endfor -%}
  {%- endif %}
  {%comment%} if authors given, give as comma-separated list {%endcomment%}
  {%- if p.author -%}
    {%- for author in p.author -%}
      {%- if forloop.first == true -%}• {% endif -%}
        {%- assign author_id = author | replace: ' ', '_' -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">
            <a href={{ 'blog/authors#' | append: author_id | relative_url }}>{{author}}</a>
            {%- if forloop.last == false -%}, {%- endif -%}
          </span>
        </span>        
    {% endfor %}
  {%- endif -%}
</p>