<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="nav">
      <ul class="nav">
          <li class="nav" title="Home">
              <a class="nav" href="http://BLOGURL/">
                  <img class="image" src="http://BLOGURL/images/nav/home.svg" alt="Home">
              </a>
          </li>
          <li class="nav" title="Blog">
              <a class="nav" href="http://BLOGURL/blog">
                  <img class="image" src="http://BLOGURL/images/nav/blog.svg" alt="Blog">
              </a>
          </li>
          <li class="nav" title="About">
              <a class="nav" href="http://BLOGURL/about">
                  <img class="image" src="http://BLOGURL/images/nav/about.svg" alt="About">
              </a>
          </li>
          <li class="nav-r" title="Top">
              <a class="nav" href="#">
                  <img class="image" src="http://BLOGURL/images/nav/top.svg" alt="Top">
              </a>
          </li>
      </ul>
    </div>

    <br><br>

  </div>
</header>
