<header class="site-header">
  <nav class="site-nav">
    <a class="page-link" href="{{ site.baseurl }}/" title="Home" alt="Home">
      <svg>
        <use xlink:href="{{ 'assets/nav-icons/Home.svg#nav' | relative_url }}"></use>
      </svg>
    </a>
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {%- if titles_size > 0 -%}
      {%- assign page_paths = site.header_pages -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}" title="{{ my_page.title}}" alt="{{ my_page.title | escape }}">
            {%- assign icon_path = my_page.title | prepend: 'assets/nav-icons/' | append: '.svg' -%}
            {%- assign found = false -%}
            {%- for static_file in site.static_files -%}
              {%- if static_file.path contains icon_path -%}
                {%- assign found = true -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if found == false -%}
              {%- assign icon_path = 'assets/nav-icons/Default.svg' -%}
            {%- endif -%}
            <svg>
              <use xlink:href="{{ icon_path | append: '#nav' | relative_url }}"></use>
            </svg>
          </a>
        {%- endif -%}
      {%- endfor -%}
      <a class="page-link" href="{{ 'feed.xml' | relative_url }}" title="Feed">
        <svg>
          <use xlink:href="{{ 'assets/nav-icons/RSS.svg#nav' | relative_url }}"></use>
        </svg>
      </a>
    {%- endif -%}
    <a class="page-link" href="#" title="Top" alt="Top">
      <svg>
        <use xlink:href="{{ 'assets/nav-icons/Top.svg#nav' | relative_url }}"></use>
      </svg>
    </a>
  </nav>
</header>
