{%comment%}
  In principle other content could be displayed in the <header> element (as in
  Minima) but stock Wren only uses it for navigation links. Also shouldn't be
  confused with head.html which provides HTML <head> meta information. 
{%endcomment%}

<header class="site-header">
  {%comment%} <nav> notifies browser there are navigation links {%endcomment%}
  <nav class="site-nav">
    {%comment%} always include link to home in navbar {%endcomment%}
    <a class="page-link" href="{{ site.baseurl }}/" title="Home" alt="Home">
      <svg>
        {%comment%} #nav acts as an anchor for the import {%endcomment%}
        <use xlink:href="{{ 'assets/nav-icons/home.svg#nav' | relative_url }}"/>
      </svg>
    </a>
    {%comment%} display any pages listed in _config.yml {%endcomment%}
    {%- for path in site.wren.header_pages -%}
      {%comment%} shortcuts for basic page info {%endcomment%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- assign id = my_page.path | replace: '.md', '' -%}
      {%- assign title = my_page.title | escape -%}
      {%comment%} construct expected icon path, then check if exists {%endcomment%}
      {%- assign icon_path = id | prepend: 'assets/nav-icons/' | append: '.svg' -%}
      {%- assign found = false -%}
      {%- for static_file in site.static_files -%}
        {%- if static_file.path contains icon_path -%}
          {%- assign found = true -%}
        {%- endif -%}
      {%- endfor -%}
      {%comment%} if it doesn't, use the default navigation icon {%endcomment%}
      {%- if found == false -%}
        {%- assign icon_path = 'assets/nav-icons/default.svg' -%}
      {%- endif -%}
      {%comment%} put that all together with a.svg.use for the button {%endcomment%}
      <a class="page-link" href="{{ my_page.url | relative_url }}" title="{{ title }}" alt="{{ title }}">
        <svg>
          <use xlink:href="{{ icon_path | append: '#nav' | relative_url }}"/>
        </svg>
      </a>
    {%- endfor -%}
    {%comment%} always include link to RSS in navbar {%endcomment%}
    <a class="page-link" href="{{ 'feed.xml' | relative_url }}" title="Feed">
      <svg>
        <use xlink:href="{{ 'assets/nav-icons/rss.svg#nav' | relative_url }}"/>
      </svg>
    </a>
    {%comment%} always include shortcut to top of page in navbar {%endcomment%}
    <a class="page-link" href="#" title="Top" alt="Top">
      <svg>
        <use xlink:href="{{ 'assets/nav-icons/top.svg#nav' | relative_url }}"/>
      </svg>
    </a>
  </nav>
</header>
