<table class="c">
  <tr>
      <td>
          <a title="Email" href="mailto:your.email@gmail.com">
              <img src="images/icons/gmail.svg" height="48" alt="Email">
          </a> 
      </td>
      <td>
          <a title="Facebook" href="https://www.facebook.com">
              <img src="images/icons/facebook.svg" height="48" alt="Facebook">
          </a> 
      </td>
      <td>
          <a title="Twitter" href="https://twitter.com">
              <img src="images/icons/twitter.svg" height="48" alt="Twitter">
          </a> 
      <td>
          <a title="Google+" href="https://plus.google.com/">
              <img src="images/icons/googleplus.svg" height="48" alt="Google+">
          </a> 
      </td>
      <td>
          <a title="Reddit" href="https://pay.reddit.com">
              <img src="images/icons/reddit.svg" height="48" alt="Reddit">
          </a> 
      </td>
  </tr>
</table>