{%comment%} values come from mix of config and data file {%endcomment%}
{%- assign config = site.wren.social_links -%}
{%- assign data   = site.wren_social_data -%}

{%comment%} double loop allows multiple from same service {%endcomment%}
{%- for service in config -%}
  {%- for entry in service[1] -%}
    {%comment%} can give username as object or value {%endcomment%}
    {%- assign handle = entry.username | default: entry -%}

    {%comment%}
      Key by which config identifies the service. Note that this key doesn't have to
      be known to the data file also; this template's logic will muddle through what
      information it has and piece together a button as best it can.
    {%endcomment%}
    {%-assign key = service[0] -%}

    {%comment%} checks if Wren covers service, if not switch to fallbacks {%endcomment%}
    {%- assign name = data[key]["name"] | default: entry.name -%}
    {%- assign icon = data[key]["name"] | default: "Default" -%}

    {%comment%} url can come from config or datafile {%endcomment%}
    {%- assign url = entry.instance | default: data[key]["url"] -%}

    {%comment%} handle service specific url delimiters {%endcomment%}
    {%- if key == "mastodon" -%}
      {%- assign delimiter = "/@" -%}
    {%- else -%}
      {%- assign delimiter = "/" -%}
    {%- endif -%}

    {%comment%} id allows URLs to differ from usernames {%endcomment%}
    {%- assign url_handle = entry.id | default: handle -%}

    {%comment%} generate the full profile url {%endcomment%}
    {%- assign profile_link = url | prepend: 'https://' | append: delimiter | append: url_handle -%}

    {%comment%} actual HTML which forms the social button {%endcomment%}
    <a rel="author" alt="{{ name }}" title="{{ handle }}" href="{{ profile_link }}">
      <svg>
        {%comment%} #soc acts as an anchor for the import {%endcomment%}
        <use xlink:href="{{ icon | prepend: '/assets/social-icons/' | append: '.svg#soc' | relative_url }}"/>
      </svg>
    </a>
  {%endfor%}
{% endfor %}
