/* TODO needs integrating into main SASS files */

body {
    color: #2d2d2d;
    font-family: trebuchet, arial, sans-sherif;
}


/* Headers */
/* ------- */

h1 {
    font-variant: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-variant: normal;
    font-weight: bold;
}

h3 {
    font-variant: normal;
    font-weight: bold;
}

h4 {
    font-variant: normal;
    font-weight: bold;
    color: #cab38b;
    font-style: italic;
    font-size: small;
    text-decoration: none;
}

a.h4:link, a.h4:visited {
    color: #bb9c6a;
}


/* Links */
/* ----- */

a:link {
    color: #6699CC;
    text-decoration: none;
}

a:visited {
    color: #660099;
}
