---
layout: default
---

<div class="post-list-page">

{%- if page.title -%}
  <h1 class="post-title">{{ page.title }}</h1>
{%- endif -%}

{%comment%} allows for preface before post list {%endcomment%}
{{ content }}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
  {%comment%} including <h2> even if empty ensures proper spacing {%endcomment%}
  <h2 class="post-list-header">
    {%- if page.list_title -%}
      {{ page.list_title }}
    {%- endif -%}
  </h2>
  <ul class="post-list">
    {%- for post in posts -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      {%- include meta.html -%}
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% comment %} only display pagination navbar if switched on {% endcomment %}
  {%- if site.paginate -%}
    {% comment %} and even if it is, only if there's more than one page {% endcomment %}
    {%- if paginator.previous_page or paginator.next_page -%}
      <div class="pagination">
      {%- if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">Prev</a>
      {%- else %}
        <div class="pager-edge">First</div>
      {%- endif %}

      <div>•</div>
      <div class="current-page">Page {{ paginator.page }}</div>
      <div>•</div>

      {%- if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">Next</a>
      {%- else %}
        <div class="pager-edge">Last</div>
      {%- endif %}
      </div>
    {%- endif -%}
  {%- endif -%}

{%- endif -%}

</div>
