// Placeholder; create a `_sass/wren/custom.scss` to override variable defaults
// seen in `initialize.scss`. For example, to change the fonts and background:

/*
$base-font-family: "Noto Sans"; 
$code-font-family: "Noto Mono";
$background-color: #9b9da3;
*/