// The layout file, as the name suggests, controls the structure of the
// website pages themselves. It starts with the header which is used as
// a container for the navigation tools, then the footer, and finally
// the main content itself working inwards and downwards through its
// components: .page-content to paginator controls.


// Header
// ======

.site-header {
  // Most the styles that were here were for .site-nav
  display: inline-block;
}

.site-nav {
  // Horizontal navigation bar on small screens
  position: fixed;  // don't want navigation icons moving
  width: 100%;
  height: $nav-bar-height;
  border-bottom: 1px solid $border-color;
  background-color: $nav-color;
  display: block;
  box-shadow: $base-shadow;
  @extend %clearfix;

  // Buttons on the nav bar
  .page-link {
    svg {
      padding: $nav-bar-height/4;
      width: $nav-bar-height/2;
      height: $nav-bar-height/2;
      fill: $brand-color-dark;
      filter: $base-drop-shadow;
    }
    margin: auto;
    display: inline-block;
    text-decoration: none;
    width:  $nav-bar-height;
    height: $nav-bar-height;
  }
  // make it obvious which button is inspected
  .page-link:hover, .page-link:active {
    svg { fill: lighten($brand-color-dark, 5%) }
    background-color: darken($nav-color, 10%);
    border-bottom: 1px solid darken($border-color, 10%);
  }

  // Vertical nav buttons on large screen
  @include if-large {
    background-color: transparent;
    border-bottom: 0;
    margin-left: $spacing-unit;
    width: $nav-bar-height;
    box-shadow: none;
    align-items: right;
    float: right;
    margin-top: 30px;

    .page-link {
      display: block;
      margin-left: auto;
    }

    .page-link:hover, .page-link:active {
      svg { fill: lighten($brand-color-dark, 10%) }
      background-color: transparent;
      border-bottom: 0;
    }
  }
}


// Site footer
// ===========

.site-footer {
  padding: 2*$spacing-unit $spacing-unit $spacing-unit;
  @include relative-font-size(0.6);
  color: $text-color;
  text-align: center;
  margin-top: auto;

  a {
    // Means there's no distinction for footer links
    color: $link-visited-color;
  }
}

.social-list {
  display: table;
  margin: $spacing-unit/2 auto 0 auto;
  a {
    text-decoration: none;
    padding: $spacing-unit / 4;
    
    svg {
      fill: $text-color;
      filter: $base-drop-shadow;
      width: 16px;
      height: 16px;
    }

    svg:hover, svg:active {
      fill: lighten($brand-color-dark, 10%)
    }
  }
}


// Page content
// ============

.page-content {
  // set size
  width: $content-width;
  max-width: 70%;
  display: inline-block;  // NOTE Minima set this in default.html
  // make it pretty
  background-color: $page-color;
  border-radius: $base-border-radius;
  box-shadow: $base-shadow;
  // external margins
  margin: $spacing-unit+1.5*$nav-bar-height auto auto;
  // internal padding
  padding: $spacing-unit $spacing-unit 0 $spacing-unit;
  // TODO find out what this does
  @extend %clearfix;
  // remove extra space for navigation bar if not on mobile
  @include if-large {
    margin-top: $spacing-unit;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  margin-bottom: $spacing-unit;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;

  a {
    color: $brand-color;
    text-decoration: none;
  }
  a:hover, a:active {
    text-decoration: underline dotted;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.1);
}


// Posts
// =====

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media in-large {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3 { margin-top: $spacing-unit * 2 }
  h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media in-large {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media if-large {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


// Error Pages
// ===========

.error {
  text-align: center;

  h1 {
    margin: $spacing-unit/2 0;
    font-size: 4em;
  }
}


// Categories
// ==========

.category-page {
  // special headers used for the category list
  h2 {
    // they need less space
    margin-top: $spacing-unit * 1.5;
    // we wanted to hide their anchor links...
    a {
      color: $text-color;
      text-decoration: none;
    }
    // ...unless they're being inspected
    a:hover, a:active {
      text-decoration: underline dotted;
    }
  }

  .category-cloud {
    text-align: center;
    margin-top: -10px;
    margin-bottom: $spacing-unit/2;
  }
}


// Pagination navbar
// =================

.pagination {
  margin: 1.5*$spacing-unit 0 $spacing-unit 0;
  text-align: center;
  font-size: $small-font-size;

  // links, separators, and edges
  a, div {
    color: $brand-color;
    display: inline;
    padding: $spacing-unit / 4;

    // edgers are lighter
    &.pager-edge {
      color: $brand-color-light;
    }
  }

  // distinguish link with dotted underline on inspection
  a:hover, a:active {
    text-decoration: underline dotted;
  }
}
